<div class="wrapper-books">
  <div class="container">
    <div class="books-title">
      <h2 style="display:inline-block;">Books List</h2>
      <a class="btn-floating btn-large waves-effect waves-light red" style="float: right;
            margin-top: 3rem;
            margin-right: 3rem;" href='/books_new'>
        <i class="material-icons">add</i></a>
    </div>
    <div class="row flex">
      <% @books.each do |book| %>
            <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
              <div class="card-title card-image waves-effect waves-block waves-light">
                <a href="/books/<%= book.id %>">
                  <% if book.thumbnail%>
                    <img class="activator" src=<%= book.thumbnail %> />
                  <% else %>
                    <img class="activator" src="/images/no_image.webp" />
                  <% end %>
                </a>
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4">
                  <%= book.title %>
                </span>
                <p>
                  <a href="#">
                    <% @authoers.where(book_id: book.id).each do |authoer|%>
                      <%= authoer.name %>
                    <% end %>
                  </a>
                </p>
              </div>
              <div class="card-tags" style="font-size: 2rem;">
                <% book.tags.each do |tag| %>
                  <a href="/search/tags/<%= tag.id %>" style="position: relative;">
                    <div class="chip" style="">
                      <%= tag.tag_name %>
                    </div>
                  </a>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>