    <div class="container">
      <div class="book-info">
        <div class="row" style="position: relative;">
          <div class="col l2 offset-l1 m3 s12 info-img">
            <img
              src= <%= @book.thumbnail %>
              alt=""
            />
          </div>
          <div class="col l6 offset-l1 m6 offset-m1 s12 info-text">
            <h2><%= @book.title %></h2>
            <h3><%= @book.authoer %></h3>
            <p><%= @book.description %></p>

          <%# タグをパーツとして使いたい %>
          <div class="card-tags" style="font-size: 2rem;">
            <% @book.tags.each do |tag| %>
            <a href="" style="position: relative;">
              <div class="chip" style="">
                <%= tag.tag_name %>
              </div>
            <% end %>
          </div>
          <%# ---------------------------------------------------- %>
            <div class="info-owner row">
              <div class="col s12  owner-icon">
                <img
                  src="https://picsum.photos/200/200/?blur"
                  alt=""
                  class="circle responsive-img"
                  style="height: 3rem; width: auto"
                />
                <a
                  href=""
                  style="font-size: 1.5rem
                ;vertical-align:middle;"
                  class="align-wrapper"
                  ><%= @user.name %>
                </a>
              </div>
              <div class="col s12 book-status">
                <div class="right-align">
                  <a href="" class="btn"
                    >リクエスト<i class="material-icons">send</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>