<div class="container">
  <div class="row">
    <div class="col l2 offset-l3 m3 offset-m1 s3 offset-s4 mypage-img" style="display: none;">
      <img src="https://picsum.photos/200/200/?blur" alt="" class="circle responsive-img" />
    </div>
    <div class="col l3 offset-l1 m3 offset-m1 s5 offset-s4" style="margin-top: 10%;">
      <a href="" style="" class="flow-text">
        <h4><%= @user.name %></h4>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a class="active" href="#mybooks">マイブック</a>
        </li>
        <%# 借りた本 %>
        <li class="tab col s3">
          <a class="" href="#borrow">借りている本
            <% if @book_borrowed_logs.count > 0 %>
              <span class=" badge pink darken-1 white-text">
                <%= @book_borrowed_logs.count %>
              </span>
            <% end %>
          </a>
        </li>
        <%# 貸した本 %>
        <li class="tab col s3">
          <a href="#lend">貸している本
            <% if @book_lending_logs.count > 0 %>
              <span class="badge cyan darken-1">
                <%= @book_lending_logs.count %>
              </span>
            <% end %>
          </a>
        </li>
        <%# 貸してくれリクエスト %>
        <li class="tab col s3">
          <a href="#request">リクエスト承認待ち
            <% if @request_logs.count > 0 %>
              <span class="new badge amber darken-1">
                <%= @request_logs.count %>
              </span>
            <% end %>
          </a>
        </li>
    </div>

<%# mybooks tab ----------------------------------------------------　%>
<div id="mybooks" class="col s12">
  <div class="row">
    <% @my_books.each do |book| %>
    <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
      <div class="card-title card-image waves-effect waves-block waves-light">
      <a href="/books/<%=book.id%>">
        <% if book.thumbnail%>
          <img class="activator" src=<%= book.thumbnail %> />
        <%else%>
          <img class="activator" src="/images/no_image.webp"/>
        <%end%>
      </a>
      </div>
      <div class="card-content">
        <span class="grey-text text-darken-4"><%= book.title %></span>
        <p><a href="#">
            <% @authoers.where(book_id: book.id).each do |authoer|%>
            <%= authoer.name %>
            <% end %>
          </a></p>
      </div>
      <%# タグをパーツとして使いたい %>
      <div class="card-tags" style="font-size: 2rem;">
        <% book.tags.each do |tag| %>
        <a href="" style="position: relative;">
          <div class="chip" style="">
            <%= tag.tag_name %>
          </div>
          <% end %>
      </div>
      <div class="row">
      <% if Bookownermap.where(book_id: book.id).where(user_id: session[:id])[0].be_public%> <%# status_id = 1  => 貸し出し状態 #%>
        <form action="/mybook/private" method="post">
          <input type="hidden" name="book_id_to_private" id="book_id_to_private" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small yellow darken-1 black-text col xl5 s10 offset-s1"
            type="submit">公開停止</button>
          </input>
        </form>
        <form action="/mybook/delete" method="post">
          <input type="hidden" name="book_id_delete" id="book_id_delete" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small blue-grey lighten-4  black-text col xl5 offset-xl1 s10  offset-s1"
            type="submit">削除</button>
          </input>
        </form>
      <% else %>
        <form action="/mybook/public" method="post">
          <input type="hidden" name="book_id_to_public" id="book_id_to_public" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small light-blue lighten-4 black-text col xl5 s10 offset-s1"
            type="submit">公開</button>
          </input>
        </form>
      <% end %>
      </div>
    </div>
    <%end%>
  </div>
</div>


<%# borrow tab ---------------------------------------------------- %>
<div id="borrow" class="col s12">
  <div class="row">
    <% @book_borrowed_logs.each do |book_borrowed_log| %>
    <% book = Book.find(book_borrowed_log.book_id) %>
    <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
      <div class="card-title card-image waves-effect waves-block waves-light">
      <a href="/books/<%=book.id%>">
        <img class="activator" src=<%= book.thumbnail %> />
      </a>
      </div>
      <div class="card-content">
        <span class="grey-text text-darken-4"><%= book.title%></span>
        <p><a href="#">
            <% @authoers.where(book_id: book.id).each do |authoer|%>
            <%= authoer.name %>
            <% end %>
          </a></p>
      </div>
      <%# タグをパーツとして使いたい %>
      <div class="card-tags" style="font-size: 2rem;">
        <% book.tags.each do |tag| %>
        <a href="" style="position: relative;">
          <div class="chip" style="">
            <%= tag.tag_name %>
          </div>
        <% end %>
      </div>
      <%# ---------------------------------------------------- %>
      <% if book_borrowed_log.status_id == 1 %> <%# status_id = 1  => 貸し出し状態 #%>
      <div class="row">
        <form action="/request/return" method="post">
          <input type="hidden" name="return" id="return" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small light-green darken-1 col s10 offset-s1"
            type="submit">返却</button>
          </input>
        </form>
      </div>
      <% end %>
      <% if book_borrowed_log.status_id == 2 %> <%# status_id = 2  => 返却確認待ち #%>
      <div class="row">
        <form action="/request/return" method="post">
          <input type="hidden" name="return" id="return" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small indigo darken-1 col s10 offset-s1"
            type="submit">確認待ち (<%= User.find(book_borrowed_log.user_owner_id).name%>)</button>
          </input>
        </form>
      </div>
      <% end %>
    </div>
    <%end%>
  </div>
</div>


<%# lend tab ----------------------------------------------------　%>
<div id="lend" class="col s12">
  <div class="row">
    <% @book_lending_logs.each do |book_lending_log| %>
    <% book = Book.find(book_lending_log.book_id) %>
    <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
      <div class="card-title card-image waves-effect waves-block waves-light">
        <a href="/books/<%= book_lending_log.book_id%>">
          <img class="activator" src=<%= book.thumbnail %> />
        </a>
      </div>
      <div class="card-content">
        <span class="grey-text text-darken-4"><%= book.title%></span>
        <p><a href="#">
            <% @authoers.where(book_id: book.id).each do |authoer|%>
            <%= authoer.name %>
            <% end %>
          </a></p>
      </div>
      <%# タグをパーツとして使いたい %>
      <div class="card-tags" style="font-size: 2rem;">
        <% book.tags.each do |tag| %>
        <a href="" style="position: relative;">
          <div class="chip" style="">
            <%= tag.tag_name %>
          </div>
          <% end %>
      </div>
      <%# ---------------------------------------------------- %>
      <% if book_lending_log.status_id == 1 %> <%# status_id = 1  => 貸し出し状態 #%>
      <div class="row">
        <button class=" btn-small purple darken-1 col s10 offset-s1" onclick="location.href='/books/<%= book_lending_log.book_id%>"
          >貸し出し中 (<%= User.find(book_lending_log.user_borrow_id).name%>)
        </button>
      </div>
      <% end %>
      <% if book_lending_log.status_id == 2 %> <%# status_id = 2  => 返却確認待ち #%>
        <div class="row">
          <form action="/request/finish" method="post">
            <input type="hidden" name="finish" id="finish" value=<%= book.id %>>
            <button class="waves-effect waves-light btn-small yellow darken-1 black-text col s10 offset-s1"
              type="submit">返却確認</button>
            </input>
          </form>
        </div>
      <% end %>
    </div>
    <%end%>
  </div>
</div>





<%# request tab ----------------------------------------------------　%>
<div id="request" class="col s12">
  <div class="row">
    <% @request_logs.each do |request_log| %>
    <% book = Book.find(request_log.book_id) %>
    <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
      <div class="card-title card-image waves-effect waves-block waves-light">
      <a href="/books/<%=book.id%>">
        <img class="activator" src=<%= book.thumbnail %> />
      </a>
      </div>
      <div class="card-content">
        <span class="grey-text text-darken-4"><%= book.title%></span>
        <p><a href="#">
            <% @authoers.where(book_id: book.id).each do |authoer|%>
            <%= authoer.name %>
            <% end %>
          </a></p>
      </div>
      <%# タグをパーツとして使いたい %>
      <div class="card-tags" style="font-size: 2rem;">
        <% book.tags.each do |tag| %>
        <a href="" style="position: relative;">
          <div class="chip" style="">
            <%= tag.tag_name %>
          </div>
          <% end %>
      </div>
      <%# ---------------------------------------------------- %>
      <div class="row">
        <form action="/request/agree" method="post">
          <input type="hidden" name="agree" id="agree" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small blue darken-1 col s4 offset-s1" type="submit">許可</button>
          </input>
        </form>
        <form action="/request/disagree" method="post">
          <input type="hidden" name="disagree" id="disagree" value=<%= book.id %>>
          <button class="waves-effect waves-light btn-small red darken-1 col s4 offset-s1" type="submit">拒否</button>
          </input>
        </form>
      </div>
    </div>
    <%end%>
  </div>
</div>





  </div>
</div>