<table>
    <% @books.each do |book| %>
        <tr>
            <td><%= book.id %></td>
            <td><%= book.title %></td>
            <td><%= book.description %></td>
            <td><%= book.title%></td>
            <td>
            <% @authoers.where(book_id: book.id).each do |authoer|%>
                <%= authoer.name %>
            <% end %>
            </td>
        </tr>
    <% end %>
</table>




